---
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import { IoGlobeOutline, IoLogoGithub } from "react-icons/io5";

import Layout from "@/layouts/article.astro";

export async function getStaticPaths() {
  const posts = await getCollection("projects");

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
}

interface Props {
  post: CollectionEntry<"projects">;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.cover.src}
  category={post.data.category}
>
  <div class="mb-8">
    <Image
      class="border border-slate-300 dark:border-zinc-700 rounded-xl w-full"
      src={post.data.cover}
      alt={post.data.coverAlt}
      loading="eager"
      transition:name={`fade-thumbnail-${post.slug}`}
    />
  </div>
  <div class="flex items-center gap-2">
    <h1 class="text-4xl my-2 mr-2">{post.data.title}</h1>
    <a
      href={post.data.previewUrl}
      target="_blank"
      aria-label="Preview website"
      class="hover:text-accent dark:hover:text-accent-dark text-2xl"
    >
      <IoGlobeOutline />
    </a>
    <a
      href={post.data.sourceUrl}
      target="_blank"
      aria-label="Source code"
      class="hover:text-accent dark:hover:text-accent-dark text-2xl"
    >
      <IoLogoGithub />
    </a>
  </div>
  <div class="font-light text-justify">{post.data.description}</div>
  <hr class="border-zinc-400 my-4" />
  <div class="text-justify">
    <Content />
  </div>
</Layout>
