---
import "@/styles/global.css";

import Body from "@/components/body.astro";
import Header from "@/components/header.astro";
import Container from "@/components/container.astro";
import Breadcrumb from "@/components/breadcrumb.astro";
import Footer from "@/components/footer.astro";

const { frontmatter } = Astro.props;

const pageTitle = frontmatter.title
  ? `Vasko Pavic - ${frontmatter.title}`
  : "Vasko Pavic";
const pageDescription =
  frontmatter.description || "Full-stack developer based in Skopje!";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={pageDescription} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <Body>
    <Header />
    <main>
      <Container>
        <article class="px-8 pt-4 mx-auto max-w-3xl">
          <Breadcrumb
            category={frontmatter.category}
            title={frontmatter.title}
          />
          <div class="mb-8">
            {
              frontmatter.thumbnail && (
                <>
                  <img
                    class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                    width={720}
                    height={360}
                    src={frontmatter.thumbnail}
                    alt="Thumbnail image"
                  />
                </>
              )
            }
          </div>
          <h1 class="text-4xl my-1">{frontmatter.title}</h1>
          <div class="font-light">{frontmatter.description}</div>
          <hr class="border-zinc-400 my-4" />
          <div class="text-justify">
            <slot />
          </div>
        </article>
      </Container>
    </main>
    <Footer />
  </Body>


</html>
