---
import { ViewTransitions } from 'astro:transitions';

import Metadata from "@/components/metadata.astro";
import Body from "@/components/body.astro";
import Header from "@/components/header.astro";
import Breadcrumb from "@/components/breadcrumb.astro";
import Footer from "@/components/footer.astro";

interface Props {
  title: string;
  description: string;
  image: string;
  category: string;
}

const { title, description, image, category } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="me" href="https://twitter.com/vaskopavic" />
    <link rel="me" href="https://github.com/vaskopavic" />
    <link rel="me" href="https://www.linkedin.com/in/vasko-pavic/" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <Metadata
      title={title}
      description={description}
      image={image}
    />
    <ViewTransitions fallback="none" />
  </head>
  <Body justify>
    <Header />
    <main>
      <article class="p-3 mx-auto max-w-3xl">
        <Breadcrumb category={category} title={title} />
          <slot />
      </article>
    </main>
    <Footer />
  </Body>
</html>
